/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700;&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
:root {
    /* Colors */
    --green: #004225;
    --gold: #DAA520;
    --yellow: #E8AB16;
    --metallic-gold: #ffd700;
    --black: #000;
    --dark-gray: #666;
    --gray: #ccc;
    --silver: #C0C0C0;
    --light-gray: #f0f0f0;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Styles for element tags are in this section*/

h1, h2 , h3, h4, h5, h6 {
    font-weight: 400;
}

nav {
    position: absolute;
    background-color: var(--green);
    width: 100%;
    padding: 2rem;
    display: none;
    left: 0;
    border-bottom: 2rem double var(--gold);
    top: 100%;
}

header {
    background-color: var(--green);
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 0 2rem;
    border-bottom: 2rem double var(--gold);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

main {
    background-color: var(--white);

    /* Expand main element to push footer down */
    flex: 1 0 auto;

}

iframe {
    border: 0;
}

footer {
    background-color: var(--black);
}

/* More specific seletors */

.hidden {
    display: none;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--white);
    padding: 1rem;
}

/* Navbar styles with dropdown toggle */

header a {
    text-decoration: none;
    color: var(--white);
}

#menu {
    list-style-type: none;
    font-size: 2rem;
}

#menu>li {
    margin-bottom: 1rem;
}

#menu a:hover,
.logo:hover {
    color: var(--gold);
}

/* Nav Menu Toggle */

#nav-menu-toggle:checked~nav {
    display: block;
}

#nav-menu-toggle {
    display: none;
}

.nav-menu-toggle-label {
    font-size: 3.5rem;
    color: var(--white);
}

/* Icons */
.icons {
    padding-right: 0.5rem;
}

/* Hero Section */
#hero {
    margin-top: 6.2rem;
    width: 100%;
    height: 50rem;
    background: url(../images/hero-image.jpg) no-repeat center center/cover;
    position: relative;
}


/* Course section  */
#course {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Monts', sans-serif;
    line-height: 1.6;
}

/* Style for the header text */
#course>h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--green);
    margin-bottom: 1rem;
}

/* Style for the subheader text */
#course p:first-of-type {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 2rem;
}

/* Style for regular paragraphs */
.course-paragraph {
    color: var(--dark-gray);
    margin-bottom: 2rem;
}

#course i {
    font-size: 3.2rem;
    color: var(--green);
    margin-right: 1rem;
}

/* Membership Section */
.membership div {
    padding: 2rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 0;
}

/* Style the membership benefits section */
#membership-benefits {
    margin-right: 1rem;
    padding: 2rem;
    background-color: var(--light-gray);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

#membership-benefits h2 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--green);
}

#membership-benefits ul {
    list-style-type: disc;
    margin-left: 2rem;
    padding: 0;
}

#membership-benefits li {
    margin-bottom: 0.5rem;
}

#membership-benefits p {
    margin-bottom: 2rem;
}

/* Style the membership plans section */

#membership-plans {
    margin-right: 1rem;
    padding: 2rem;
    background-color: var(--light-gray);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

#membership-plans h2 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--green);
}

#membership-plans p {
    margin-bottom: 2rem;
}

#membership-plans div {
    background-color: var(--white);
    border: 1px solid var(--silver);
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 0 1rem;
}

#membership-plans .offers ul {
    width: 80%;
    color: var(--black);
    list-style-type: none;

}

#membership-plans .offers li {
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
}

/* Gallery section */

.gallery-container {
    margin-left: 1rem;
}

#gallery h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--green);
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.gallery-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--gray);
    margin: 1rem 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

/* Contact-Location section */
.contact-location div {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    margin: 0 1rem;
    background-color: var(--green);
    color: var(--white);
    margin-bottom: 1rem;
}

/* Style the contact section */
#contact h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--yellow);
    margin-bottom: 1rem;
}

#contact p {
    margin-bottom: 1rem;
}

#contact label {
    display: block;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--gold);
}

.form-inputs {
    width: 85%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--gray);
    border-radius: 0.5rem;
    background-color: var(--white);
    color: var(--black);
    font-size: 2rem;

}

#contact input[type="submit"] {
    background-color: var(--yellow);
    color: var(--green);
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.8rem;
}

#contact input[type="submit"]:hover {
    background-color: var(--metallic-gold);
    font-size: 2rem;
}

/* Style the location section */
#location h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--yellow);
    ;
}

/* Style the Google Maps iframe */
#location iframe {
    width: 100%;
    height: 40rem;
    border: none;
    border-radius: 0.5rem;
}

/* Footer */

#social-media {
    display: flex;
    text-align: center;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 1.75rem;

}

.social-media-icons {
    color: var(--white);
    font-size: 3rem;
}

.social-media-icons:hover {
    color: var(--gold);
}

#contact-info {
    text-align: center;
    padding: 1.75rem;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
}

#contact-info a {
    color: var(--white);
    text-decoration: none;

}

.contact-item {
    padding: 1rem;
    color: var(--white);
}

#contact-info a:hover {
    color: var(--gold);
} 

/* Thank You Page */
.thank-you {
    height: 100vh;
    width: 100vw;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
   }

.thank-you h1{
    text-align: center;
    font-size: 2rem;
    color: var(--gold);
    padding: 2rem;
    font-size: 4rem;
}

.thank-you p {
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    padding: 1rem;
}

.thank-you i {
    text-align: center;
    font-size: 5rem;
    color: var(--white);
    padding: 1rem;

}

.thank-you i:hover{
    color: var(--gold);
    font-size: 6rem;

}

/* Media Queries */
@media screen and (min-width: 768px) {

    html{
        scroll-padding-top: 9.6rem;
    }

    /* Header */
    nav {
        position: relative;
        display: block;
        width: fit-content;
        padding: 2rem;
        border-bottom: none;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-right: 1.5rem;
    }

    .nav-menu-toggle-label {
        display: none;
    }

    /* Style the membership section */
    .membership {
        display: flex;
        justify-content: space-evenly;
    }

    .membership div {
        width: 48%;
    }

    .membership div .offers {
        width: 95%;
    }

    /* Gallery section */
    .gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
    }

    .gallery-image {
        width: 100%
    }

    #gallery h2 {
        text-align: center;

    }

    /* Contact-Location section */

    .contact-location {
        display: flex;
        justify-content: space-evenly;
    }

    .contact-location div {
        width: 48%;
    }
}

@media screen and (min-width: 992px) {

    #gallery h2 {
        text-align: center;

    }
}

@media screen and (min-width: 1200px) {

    /* Gallery section */
    .gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }

    .gallery-image {
        width: 95%;
    }

    #gallery h2 {
        text-align: center;

    }
}